/*=====================
    1.General CSS start
==========================*/
body {
    position: relative;
    background: #ffffff;
    font-size: 14px;
}

h1 {
    font-size: 60px;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
}
h1 span {
    font-size: 107px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    color: #777777;
    letter-spacing: 0.03em;
}

h4 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    line-height: 24px;
    letter-spacing: 0.05em;
}

h6 {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    line-height: 24px;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
}

p {
    font-size: 14px;
    color: #777777;
    line-height: 1;
}

a {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
a:hover {
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
a:focus {
    outline: none;
}

//  Main Admin Panel SCSS Start

.admin_main_section {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    width: 100% !important;
    height: 100%;
}

.part_one {
    width: 270px;
}

.part_two {
    width: calc(100% - 270px);
}

.sidebar .nav-item .nav-link {
    width: 100% !important;
    padding: 15px 10px 15px 20px !important;
}

.main_section_add {
    min-height: calc(100vh - 170px);
}

//  Main Admin Panel SCSS End
